{% extends 'header.html' %}

{% block head %}


<title>Index</title>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12"  style="margin-bottom:20px; background-image: url('Jet-engine-KLM-768x510.jpg');">
        <div class="row">
            <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Predictive Maintanance of Turbojet Engine
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Turbo Engine data description</h5>
                <p class="card-text">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">
    
Prognostics and health management is an important topic in industry for predicting state of assets to avoid downtime and failures. This data set is the version of the very well known asset degradation modeling from NASA. It includes Run-to-Failure simulated data from turbo jet engines.

Engine degradation simulation was carried out using C-MAPSS. Four different were sets simulated under different combinations of operational conditions and fault modes. Records several sensor channels to characterize fault evolution. The data set was provided by the Prognostics CoE at NASA Ames.

                    <h5 class="card-title">Prediction Goal</h5>
                    <p class="card-text">

In this dataset the goal is to predict the remaining useful life (RUL) of each engine in the test dataset. RUL is equivalent of number of flights remained for the engine after the last datapoint in the test dataset.</p>
                <a class="btn btn-success" target="_blank" href="https://www.kaggle.com/datasets/behrad3d/nasa-cmaps">Check Dataset</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <!--<iframe  style = "width:100%;height:100%" src="https://www.youtube.com/embed/42IQIKMSukY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            </div>
 

        </div>
        </div>
<div class="col-md-4 col-lg-4 col-sm-12">
<div class="card">
    <div class="card-header">
       View Logs
    </div>
    <div class="card-body">

        <h5 class="card-title">Log Files</h5>
        <p class="card-text">All model training log file can be downloaded.</p>
        <a class="btn btn-primary" href="/Maintanance_logging">Check Logs</a>
    </div>
</div>
</div>


<div class="col-md-4 col-lg-4 col-sm-12" style="margin-bottom:20px;">
    <div class="card">
        <div class="card-header">
           View Artifacts
        </div>
        <div class="card-body">
    
            <h5 class="card-title">Artifact Files</h5>
            <p class="card-text">All model artifacts file can be downloaded.</p>
            <a class="btn btn-primary" href="/artifact">Check Artifacts</a>
        </div>
    </div>
    </div>



    <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
        <div class="card">
            <div class="card-header">
               View Trained Models
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Trained Models</h5>
                <p class="card-text">All model file can be downloaded.</p>
                <a class="btn btn-primary" href="/saved_models">Check Models</a>
            </div>
        </div>
        </div>

        
    <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
        <div class="card">
            <div class="card-header">
              Estimate California price
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Access Turbojet life estimator</h5>
                <p class="card-text">Form will be displayed. Submit the form to get estimated Life of Turbojet Engine.</p>
                <a class="btn btn-primary" href="/predict">Get Estimated Life</a>
            </div>
        </div>
        </div>
 
        <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
            <div class="card">
                <div class="card-header">
                  Train Engine Life estimator model.
                </div>
                <div class="card-body">
            
                    <h5 class="card-title">Initiate model training.</h5>
                    <p class="card-text">Model training will be done. Files such as log, artifact and models can be viewed and downloaded using appropriate link.</p>
                    <a class="btn btn-danger" href="/train">Initiate Training</a>
                </div>
            </div>
            </div>
        
            
            



            
</div>

{% endblock %}