{% extends 'header.html' %}

{% block head %}


<title>Turbojet Engine life Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Turbojet Engine life Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">Cycle</label>
                <input class="form-control" type="text" name="Cycle" placeholder="Enter a value of Cycle"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">OpSet1</label>
                <input class="form-control" type="text" name="OpSet1" placeholder="Enter a value of OpSet1"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">OpSet2</label>
                <input class="form-control" type="text" name="OpSet2"
                    placeholder="Enter a value of OpSet2" />

            </div>
            <div class="mb-3">
                <label class="form-label">OpSet3</label>
                <input class="form-control" type="text" name="OpSet3" placeholder="Enter a value of OpSet3"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure1</label>
                <input class="form-control" type="text" name="SensorMeasure1"
                    placeholder="Enter a value of SensorMeasure1" required />
            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure2</label>
                <input class="form-control" type="text" name="SensorMeasure2" placeholder="Enter a value of SensorMeasure 2"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure3</label>
                <input class="form-control" type="text" name="SensorMeasure3" placeholder="Enter a value of SensorMeasure 3"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure4</label>
                <input class="form-control" type="text" name="SensorMeasure4"
                    placeholder="Enter a value of SensorMeasure 4" required />
            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure5</label>
                <input class="form-control" type="text" name="SensorMeasure5"
                    placeholder="Enter a value of SensorMeasure 5" required />

            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure6</label>
                <input class="form-control" type="text" name="SensorMeasure6"
                    placeholder="Enter a value of SensorMeasure 6" required />


            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure7</label>
                <input class="form-control" type="text" name="SensorMeasure7"
                    placeholder="Enter a value of SensorMeasure 7" required />

            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure8</label>
                <input class="form-control" type="text" name="SensorMeasure8"
                    placeholder="Enter a value of SensorMeasure 8" required />

            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure9</label>
                <input class="form-control" type="text" name="SensorMeasure9"
                    placeholder="Enter a value of SensorMeasure 9" required />    

            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure10</label>
                <input class="form-control" type="text" name="SensorMeasure10"
                    placeholder="Enter a value of SensorMeasure 10" required />


            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure11</label>
                <input class="form-control" type="text" name="SensorMeasure11"
                    placeholder="Enter a value of SensorMeasure 11" required />


            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure12</label>
                <input class="form-control" type="text" name="SensorMeasure12"
                    placeholder="Enter a value of SensorMeasure 12" required />


            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure13</label>
                <input class="form-control" type="text" name="SensorMeasure13"
                    placeholder="Enter a value of SensorMeasure 13" required />



            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure14</label>
                <input class="form-control" type="text" name="SensorMeasure14"
                    placeholder="Enter a value of SensorMeasure 14" required />

       
            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure15</label>
                <input class="form-control" type="text" name="SensorMeasure15"
                    placeholder="Enter a value of SensorMeasure 15" required />


            </div>
            <div class="mb-3">
                <label class="form-label">SensorMeasure16</label>
                <input class="form-control" type="text" name="SensorMeasure16"
                    placeholder="Enter a value of SensorMeasure 16" required />



            </div>
            <div class="mb-2">
                <label class="form-label">SensorMeasure17</label>
                <input class="form-control" type="text" name="SensorMeasure17"
                    placeholder="Enter a value of SensorMeasure 17" required />


            </div>
            <div class="mb-2">
                <label class="form-label">SensorMeasure18</label>
                <input class="form-control" type="text" name="SensorMeasure18"
                    placeholder="Enter a value of SensorMeasure 18" required />



            </div>
            <div class="mb-2">
                <label class="form-label">SensorMeasure19</label>
                <input class="form-control" type="text" name="SensorMeasure19"
                    placeholder="Enter a value of SensorMeasure 19" required />


            </div>
            <div class="mb-2">
                <label class="form-label">SensorMeasure20</label>
                <input class="form-control" type="text" name="SensorMeasure20"
                    placeholder="Enter a value of SensorMeasure 20" required />


            </div>
            <div class="mb-2">
                <label class="form-label">SensorMeasure21</label>
                <input class="form-control" type="text" name="SensorMeasure21"
                    placeholder="Enter a value of SensorMeasure 21" required />


            </div>
            <div class="mb-2">
                <label class="form-label">Life_Ratio</label>
                <input class="form-control" type="text" name="Life_Ratio"
                    placeholder="Enter a value of Life_Ratio " required />
     
                    

                </select>
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Engine Life" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
            Predictive Maintanance Of Turbojet Engine
            </div>
            <div class="card-body">
        {% if context['maintanance_data'] is not none %}
        <table class="table table-striped">
            <caption>Turbojet Engine Life Prediction</caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['maintanance_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>Engine Condition</td>
                <td>
                    {{ context['maintanance_label_value'] }}
                </td>
            </tr>
            <script>
                var median_house_value;
                var ans;
                
                if (median_house_value==0.0) 
                {
                  ans = "Condition of the Engine is good to fly"
                } 
                else {
                  ans = "Condition of the Engine is not good to fly";
                }
                
            </script>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate Life of the Turobojet Engine</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}